{% extends 'base.html' %}
{% load static %}
{%block title %}個人の詳細{%endblock title %}

{% block content %}
<div class="container">
    <div class="row py-3 px-1 text-center" style=" border-radius :8px; box-shadow :0px 0px 5px silver; margin-top:5px; background-color: #DCF7E3;">
        <div class="col-4">
            <img src="{% static 'example.png' %}" >
        </div>
        <div class="col-8">
            <div class="card p-3" style=" margin-top:40px; margin-x:30px">
                <div class="card-heder " >
                    <h5>開発経験の詳細</h5>
                </div>
                <div class="card-body" style=" border-radius :8px; box-shadow :0px 0px 5px silver; margin:5px; background-color: #E5EFFF;">
                    <h6>{{ object.memo }}</h6>
                </div>
            </div>
        </div>

        <div> 
            <h5 style="border-radius :8px; box-shadow :0px 0px 5px silver; margin-top:5px; background-color: #FFFFFF;">
                {{ object.title }}</h5>
        </div>
    </div>
    <div class="row my-4 py-2 border-bottom" style="border-radius :8px; box-shadow :0px 0px 5px silver; background-color: #DCF7E3;">
        
        <div class="col" >
            <div class="card text-center" style="border-radius :20px;">
                <div class="card-header">
                    <h5>フロント力</h5>
                </div>
                <div class="card-body" style="background-color: #E5EFFF;">
                    <h2>{{ object.level }}</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="border-radius :20px;">
                <div class="card-header">
                    <h5>バック力</h5>
                </div>
                <div class="card-body " style="background-color: #E5EFFF;">
                    <h2>{{ object.level_b }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}