{% extends 'base.html' %}
{% load static %}

{% block header %}
<h1>ヘッダーテスト</h1>
{% endblock %}

{% block content %}
{% for item in object_list %}
<p>AAAAAA<p>
<div class="alert alert-secondary" role="alert">
    {{ item.title }}
    <!-- {{ item.myimage }} -->
    <img src="{{ item.myimage.url }}" width="10%" height="10%">
    <a href="{% url 'update' item.pk  %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
    <a href="{% url 'delete' item.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">削除</a>
    <a href="{% url 'detail' item.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">詳細</a>
    <a href="{% url 'good' item.pk %}" class="btn btn-primary" role="button" aria-pressed="true">select</a>

</div>

<img src="{% static 'example.png' %}" alt="サンプル画像">

<!-- <div class="alert alert-secondary" role="alert">
    {{ item.memo }}
</div> -->
{% endfor %}
{% endblock content %}