{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container  px-4 ">
    {% for item in object_list %}
    <div class="row my-4 py-2 border-bottom" style="border-radius :8px; box-shadow :0px 0px 5px silver; background-color: #DCF7E3;">
        <div class="col-2 text-center">
            <div>
                <img src="{% static 'example.png' %}" width="90" height="90">
            </div>
            <div> 
                <h5 style="border-radius :8px; box-shadow :0px 0px 5px silver; margin-top:5px; background-color: #FFFFFF;">
                    {{ item.title }}</h5>
            </div>
        </div>
        <div class="col" >
            <div class="card text-center" style="border-radius :20px;">
                <div class="card-header">
                    <h5>フロント力</h5>
                </div>
                <div class="card-body" style="background-color: #E5EFFF;">
                    <h2>{{ item.level }}</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="border-radius :20px;">
                <div class="card-header">
                    <h5>バック力</h5>
                </div>
                <div class="card-body " style="background-color: #E5EFFF;">
                    <h2>{{ item.level_b }}</h2>
                </div>
            </div>
        </div>
        <!-- {{ item.myimage }} -->
        
        <div class="col">
            <a href="{% url 'detail' item.pk %}" class="btn btn-outline-info" tabindex="-1" role="button" aria-disabled="true">詳細</a>
            <a href="{% url 'good' item.pk %}" class="btn btn-outline-primary" role="button" aria-pressed="true">select</a>
            <a href="{% url 'update' item.pk  %}" class="btn btn-outline-success" tabindex="-1" role="button" aria-disabled="true">編集</a>
            <a href="{% url 'delete' item.pk %}" class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
        </div>
    </div>


<!-- <div class="alert alert-secondary" role="alert">
    {{ item.memo }}
</div> -->
    {% endfor %}
</div>
{% endblock content %}